@charset "utf-8";
/* CSS Document */

.patop{background:url(../images/topbg.jpg) no-repeat center top; background-color:#000;}
.patitle{width:420px; height:327px; position:absolute; top:208px; right:60px; color:#FFF; font-size:24px; line-height:35px;}
.patitle li{width:370px; height:80px; background:url(../images/paico_1.png) no-repeat; margin-bottom:35px; padding-left:110px; text-indent:0px; padding-top:6px;}
@media (max-width:1260px){
.patitle{right:40px;}
}
@media (max-width:1050px){
.patop{background-position:-450px top;}
.patitle{right:40px;}
}

.p9{background:url(../images/p9bg.jpg) no-repeat center top;}
.t9{width:610px; height:320px; top:180px; left:0px;}
.p9ico{margin-top:35px;}
.p9ico li{width:115px; height:25px; float:left; margin-right:10px; background:url(../images/p9img_1.png) no-repeat; padding-top:95px; text-align:center; font-family:"微软雅黑";}
@media (max-width:1050px){
.p9{background-position:-120px bottom;}
}

.p10{background:url(../images/p10bg.jpg) no-repeat center top;}
.t10{width:500px; height:85px; top:240px; right:0px;}
.t10 h2{font-family:Arial; font-size:70px;}
.p10img{width:537px; height:507px; padding-top:73px;}
@media (max-width:1260px){
.t10{width:350px;right:20px;}
.p10img{width:500px; height:507px; padding-top:108px;}
}

.p11{background:url(../images/p11bg.jpg) no-repeat center center;}
.t11{width:530px; height:230px; left:0px; top:215px;}
.p11img{width:343px; height:343px; position:absolute; top:122px; right:85px;}
@media (max-width:1260px){
.p11{background:url(../images/p11bg.jpg) no-repeat -20px center;}
}

.p1{background:url(../images/password_bg1.jpg) no-repeat center top;}
.t1{width:508px; height:280px; top:170px; left:0px;}
@media (max-width:1260px){
.p1{background:url(../images/password_bg1sm.jpg) no-repeat center top;}
.t1{width:390px;}
}

/* 轮换图 */
.fullSlide{width:100%;position:relative;height:620px;background:#000;}
.fullSlide .bd{margin:0 auto;position:relative;z-index:0;overflow:hidden;}
.fullSlide .bd ul{width:100% !important;}
.fullSlide .bd li{width:100% !important;height:620px;overflow:hidden;text-align:center; background-position:center top;}
.fullSlide .bd li a{display:block;height:620px;}
.fullSlide .hd{width:100%;position:absolute;z-index:1;bottom:0;left:0;height:30px;line-height:30px;}
.fullSlide .hd ul{text-align:center;}
.fullSlide .hd ul li{cursor:pointer;display:inline-block;*display:inline;zoom:1;width:11px;height:11px;margin:1px 7px;overflow:hidden;background:#2372ce;filter:alpha(opacity=50);opacity:0.5;line-height:999px;}
.fullSlide .hd ul .on{background:#fff;}
.fullSlide .prev,.fullSlide .next{display:block;position:absolute;z-index:1;top:50%;margin-top:-30px;left:5%;z-index:1;width:40px;height:67px;background:url(../images/banbtn.png) no-repeat;cursor:pointer;filter:alpha(opacity=30);-moz-opacity:0.3;opacity:0.3; display:none;}
.fullSlide .next{left:auto;right:5%;background-position:-125px 0px;}

.t2a{width:550px; height:220px; top:200px; right:0px; text-align:left;}
.t2b{width:1160px; height:220px; top:90px; margin:auto;}
.t2b p{text-align:center;}
@media (max-width:1260px){
.t2a{width:500px;}
.t2b{width:100%; margin:auto;}
}

.p3{background:url(../images/password_bg3.jpg) no-repeat center top;}
.t3{width:575px; height:200px; top:222px; right:0px;}
@media (max-width:1260px){
.t3{width:500px;}
}

.p4{background:url(../images/password_bg4.jpg) no-repeat center top;}
.t4{width:580px; height:190px; top:140px; left:0px;}
.ico4{width:580px; height:120px; position:absolute; top:350px; left:0px;}
.ico4 li{width:88px; height:18px; padding-top:95px; margin-right:30px; float:left; color:#333333; background:url(../images/ico4.gif) no-repeat; font-size:12px; text-align:center; font-family:Arial, Helvetica, sans-serif;}
.ic1{background-position:0px 0px;}
.ic2{background-position:-117px 0px;}
.ic3{background-position:-233px 0px;}
.ic4{background-position:-350px 0px;}
@media (max-width:1260px){
.p4{background:url(../images/password_bg4sm.jpg) no-repeat center top;}
}

.p5{background:url(../images/password_bg5.jpg) no-repeat center top;background-color:#000;}
.t5{width:476px; height:185px; top:238px; right:0px;}
@media (max-width:1260px){
.p5{background:url(../images/password_bg5sm.jpg) no-repeat center top;background-color:#000;}
.t5{width:400px;}
}

.p6{background:url(../images/password_bg6.jpg) no-repeat center top;}
.t6{width:476px; height:185px; top:170px; left:0px;}
@media (max-width:1260px){
.p6{background:url(../images/password_bg6sm.jpg) no-repeat center top;}
}

.p7{background:url(../images/password_bg7.jpg) no-repeat center top;background-color:#000;}
.t7{width:606px; height:240px; top:200px; right:0px;}
@media (max-width:1260px){
.t7{width:470px;}
.t7 h2{font-size:38px;}
.p7{background:url(../images/password_bg7sm.jpg) no-repeat center top;background-color:#000;}
}